@import url('https://fonts.googleapis.com/css?family=Sree+Krushnadevaraya');

/* Misc */
body {
  /* font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif; */
  font-family: 'Sree Krushnadevaraya', serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ff4242;
  font-weight: bold;
}
ul {
  text-align: left;
}
li {
  margin-bottom: 2rem;
}
nav {
  width: 100vw;
  max-width: 1400px;
  font-size: 30px;
  /* width: auto; */
  background: rgba(94, 94, 94, 0.5);
  margin: auto;

}
nav a {
  color: rgba(255,255,255,0.7);
  padding: 1rem;
  display: inline-block;
}

/* Containers */
.main-div {
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.main-content-div {
  max-width: 100%;
}
.wrapper {
  width: 100%;
}
.card-container {
  min-width: 30%;
  /* max-width: 90%; */
  padding-right: 20px;
  padding-left: 20px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  /* width: 800px; */
}
#ai-ecommerce-slideshare {
  width: 95vw;
  height: 50vw;
  max-width: 100%;
}

/* Images */
#homepage-image-1 {
  border-radius: 0px;
}
.white-bg-image-container {
  background: white;
  padding: 4rem;
}



/* #homepage-image-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#homepage-image-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */




/* Text */ 
.text-title-1 {
  color:white;
  font-size: 140px;
  line-height: 1;
  margin-bottom: 10px;
}
.text-title-2 {
  color: white;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 100px;
}
.text-title-3 {
  color: white;
  font-size: 30px;
  line-height: 0.4;
}
.bluezone-title-1 {
  color:white;
  font-size: 140px;
  line-height: 1;
  margin-bottom: 10px;
  line-height: 100px;
}
.text-body-1 {
  color:white;
  font-size: 30px;
  line-height: 1;
  /* padding-top: 0vh; */
  /* padding-bottom: 0vh; */
  margin: auto;
  /* text-align: left; */
  width: 500px;
  max-width: 95%;
}
.blog-body-1 {
  max-width: 95%;
  margin: auto;
  color: white;
  line-height: 2em;
}
.blog-body-1 a {
  color: white;
}

/* Background */
.bg-banner {
  /* Size */
  height: 10px;
  width: 100%;
  /* Position */
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.bg-white {
  background-color: white;
}
.bg-white-grad {
  background-image: linear-gradient(rgba(0,0,0,0) 0%, white 50%, rgba(0,0,0,0) 100%);
}
.bg-img {
  /* Full height */
  height: 100%;
  min-height: 800px;
  /* Size */
  /* min-height: 100%;
  min-width: 1920px;
  width: 100%;
  height: auto; */
  /* Position */
  position: fixed;
  top: 0;
  z-index: -1;
}

/* Footer */
#homepage-footer-container {
  position:relative;
}
#homepage-github-logo-bottom{
  /* margin: auto; */
  padding-bottom: 100px;

  text-align: center;
}

/* #homepage-github-logo-overlap{
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
#homepage-image-bottom {
  border-radius: 0px;
  padding-bottom: 0px;
}

#alex-hiking-pic {
  vertical-align: bottom;
  display: table-cell;
  width: 100%;
  min-width: 700px;

}


/* By ID */
#homepage-bg-img-1 {
  opacity: 0.8;
}
#text-quote-1 {
  padding-top: 2rem;
  padding-bottom: 4rem;
  color:white;
  font-size: 40px;
  line-height: 40px;
  width: 70%;
  max-width: 600px;
  margin: auto;
}


/* Pictures */
/* #alex-hiking-pic {
  transition: all 500ms ease;
}

#alex-hiking-pic:hover {
  opacity: 0.7;
} */


/* @media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;   
  }
} */

